@{
    ViewData["Title"] = "Xem Page";
}
<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Đặt Lịch Thư Quán SGU</title>
    <link rel="stylesheet" href="./css/style.css">
</head>

<body>`

    <div class="display">
        <h2 style="margin-top:10px">Thông tin cá nhân</h2>
        <div class="container">
            <img id="preview" src="ImagePath" alt="Ảnh đại diện" class="profile-img" />
            <div class="info-group">
                <label>Họ và tên:</label>
                <span>.FullName</span>
            </div>
            <div class="info-group">
                <label>Email:</label>
                <span>.Email</span>
            </div>
            <div class="info-group">
                <label>SĐT:</label>
                <span>.Phone</span>
            </div>
            <button onclick="window.location.href='/edit'" id="btn-edit-info">Thay đổi thông tin</button>
        </div>
    </div>

</body>

</html>


<script src="./js/index.js"></script>
<script src="./js/device.js"></script>
